.Module-inner {
    line-height: 35px;

    #title {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 23px;
        padding-bottom: 15px;
    }

    #InputPassword {
        margin: 15px 0;
    }

    #SubmitIn {
        width: 80px;
    }
}

.Module-inner-regist {
    .mantine-TextInput-root {
        margin: 10px 0;
    }

    #SubmitUp {
        width: 100%;
        margin: 15px 0;
    }
}


#codeInput {
    margin: 20px 0;
}

#CodeSubmit {
    margin: 0;
    width: 100%;
}

#resend {
    margin: 5px 0 !important;
}




.Module-user {
    overflow: scroll;

    div {
        line-height: 35px;
    }

    .mantine-Radio-body {
        display: flex;
        align-items: center;
    }

    #user-btn {
        margin: 20px 0 10px 0;
        display: flex;
        justify-content: space-around;

        button:nth-child(1) {
            border: none;
            background: none;
        }
    }
}





.Profile {
    background: rgb(235, 235, 235);
    height: 100vh;
}

.Profile-list {
    overflow: scroll;
    padding-bottom: 60px;
}

.Profile-link {
    padding: 15px 10px;
    text-align: end;
    background: white;

    a {
        color: black;
        font-family: 'Inter', sans-serif;
        font-size: 13px;
    }
}



.Profile-block {
    margin: 20px 0;
    background: white;
    padding: 15px;
    line-height: 40px;
}

.Profile-block-orders,
.Profile-block-location,
.Profile-block-signOut,
.Profile-block-app {

    a,
    p {
        display: flex;
        align-items: center;
        color: black;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
        font-size: 13px;
        gap: 10px;

        svg,
        i {
            font-size: 20px;
            width: 24px;
            display: flex;
            align-items: center;
        }

        span,
        p {
            margin: 0;
        }
    }
}

.Profile-block-location,
.Profile-block-signOut {
    justify-content: center;
    margin-left: 5px;

    p {
        gap: 5px !important;
    }
}