.Main-categories {
    background: white;
    width: 1240px;
    transition: 0.3s all linear;
    height: 0%;
    overflow: hidden;
    position: absolute;
    padding-top: 10px;
    top: 110px;
    z-index: 100;



}


.Main-categories ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.Main-categories li {
    margin: 5px 0;
    cursor: pointer;
}

#catalogMain {
    display: none;
}

#catalogMain:checked~.Main-categories {
    height: 140%;
}





.categories-grid {
    width: 1140px !important;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 50px;
}